
NET "TXCLKIN" TNM_NET = "TXCLKIN_GRP";
TIMESPEC "TS_TXCLKIN" = PERIOD "TXCLKIN_GRP" 50.15 MHz HIGH 50 %;

NET "REFCLKIN_P" LOC = "p89" | IOSTANDARD = LVDS_25; 
NET "REFCLKIN_N" LOC = "p90" | IOSTANDARD = LVDS_25; 

NET "RXIO_P"  LOC = "p8" | IOSTANDARD = LVDS_25;
NET "RXIO_N"  LOC = "p9" | IOSTANDARD = LVDS_25 ;


NET "LEDPOWER"  LOC = "p86" | IOSTANDARD = LVTTL ;
NET "LEDLOCKED" LOC = "p81" | IOSTANDARD = LVTTL; 
NET "LEDVALID"  LOC = "p80" | IOSTANDARD = LVTTL ;

NET "REFCLKOUT" LOC = "p14" | IOSTANDARD = LVTTL; 
NET "TXCLKIN" LOC = "p38" | IOSTANDARD = LVTTL; 


NET "TXDIN<0>" LOC = "p22" | IOSTANDARD = LVTTL; 
NET "TXDIN<1>" LOC = "p23" | IOSTANDARD = LVTTL; 
NET "TXDIN<2>" LOC = "p27" | IOSTANDARD = LVTTL; 
NET "TXDIN<3>" LOC = "p28" | IOSTANDARD = LVTTL; 
NET "TXDIN<4>" LOC = "p30" | IOSTANDARD = LVTTL; 
NET "TXDIN<5>" LOC = "p32" | IOSTANDARD = LVTTL; 
NET "TXDIN<6>" LOC = "p34" | IOSTANDARD = LVTTL; 
NET "TXDIN<7>" LOC = "p35" | IOSTANDARD = LVTTL; 
NET "TXDIN<8>" LOC = "p36" | IOSTANDARD = LVTTL; 
NET "TXDIN<9>" LOC = "p37" | IOSTANDARD = LVTTL; 

NET "TXLOCKED" LOC="p40" | IOSTANDARD = LVTTL; 

NET "DEBUGSTATE<0>" LOC = "p75" | IOSTANDARD = LVTTL; 
NET "DEBUGSTATE<1>" LOC = "p74" | IOSTANDARD = LVTTL; 
NET "DEBUGSTATE<2>" LOC = "p72" | IOSTANDARD = LVTTL; 
NET "DEBUGSTATE<3>" LOC = "p71" | IOSTANDARD = LVTTL; 
NET "DEBUGSTATE<4>" LOC = "p68" | IOSTANDARD = LVTTL; 
NET "DEBUGSTATE<5>" LOC = "p67" | IOSTANDARD = LVTTL; 
NET "DEBUGSTATE<6>" LOC = "p65" | IOSTANDARD = LVTTL; 
NET "DEBUGSTATE<7>" LOC = "p64" | IOSTANDARD = LVTTL; 
NET "DEBUGSTATE<8>" LOC = "p62" | IOSTANDARD = LVTTL; 
NET "DEBUGSTATE<9>" LOC = "p63" | IOSTANDARD = LVTTL; 


