*encode8b10b*.*
*decode8b10b*.*
!*.xco
*.lso
*.srp
*.xprt
*.twr
*.pyc
*.ngr
*xlnx_auto*
*.o
*.sym/
*build/
*xst/
transcript
*.wlf
vopt*
_primary.dat
_primary.dbs
behavioral.dat
behavioral.dbs
body.dat
body.dbs
_info
vlog*
xilinx_device_details.xml
#*#
touched
/memory/sim/memdebug/fmf/bilateral/mixed.dat
/memory/sim/memdebug/fmf/bilateral/mixed.dbs
/memory/sim/memdebug/fmf/tri_buf/behavior.dat
/memory/sim/memdebug/fmf/tri_buf/behavior.dbs
/memory/sim/memdebug/none
/memory/sim/memdebug/wlfthcO2kW
/memory/sim/memdebug/work/_opt/_deps
/memory/sim/memdebug/work/_opt__lock
/memory/sim/memdebug/work/hy5ps121621f/behavioral_model_hy5ps121621f.dat
/memory/sim/memdebug/work/hy5ps121621f/behavioral_model_hy5ps121621f.dbs
/memory/sim/memdebug/work/mt47h64m16/vhdl_behavioral.dat
/memory/sim/memdebug/work/mt47h64m16/vhdl_behavioral.dbs
/memory/sim/memory/fmf/bilateral/mixed.dat
/memory/sim/memory/fmf/bilateral/mixed.dbs
/memory/sim/memory/fmf/tri_buf/behavior.dat
/memory/sim/memory/fmf/tri_buf/behavior.dbs
/memory/sim/memory/wlfthcO2kW
/memory/sim/memory/work/_opt/_deps
/memory/sim/memory/work/hy5ps121621f/behavioral_model_hy5ps121621f.dat
/memory/sim/memory/work/hy5ps121621f/behavioral_model_hy5ps121621f.dbs
/memory/sim/memory/work/mt47h64m16/vhdl_behavioral.dat
/memory/sim/memory/work/mt47h64m16/vhdl_behavioral.dbs
/memory/tests/memtest/vhdl/memtest_map.xrpt
/memory/tests/memtest/vhdl/memtest_par.xrpt
/memory/tests/memtest/vhdl/memtest_xst.xrpt
