*encode8b10b*.*
*decode8b10b*.*
!*.xco
*.lso
*.srp
*.xprt
*.twr
*.pyc
*.ngr
*xlnx_auto*
*.o
*.sym/
*build/
*xst/
transcript
*.wlf
vopt*
_primary.dat
_primary.dbs
behavioral.dat
behavioral.dbs
body.dat
body.dbs
_info
vlog*
xilinx_device_details.xml
#*#
touched
