NET "CLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 61 MHz HIGH 50 %;

NET "LEDPOWER" LOC="AD17" | IOSTANDARD = LVTTL; 
NET "LEDEVENT" LOC="AE10" | IOSTANDARD = LVTTL; 

NET "CLKIN" LOC = "Y5" | IOSTANDARD = LVTTL; 

NET "RAMDQ<0>" LOC = "AB21" | IOSTANDARD = LVTTL; 
NET "RAMDQ<1>" LOC = "AB22" | IOSTANDARD = LVTTL; 
NET "RAMDQ<2>" LOC = "AB23" | IOSTANDARD = LVTTL; 
NET "RAMDQ<3>" LOC = "AB24" | IOSTANDARD = LVTTL; 
NET "RAMDQ<4>" LOC = "AB18" | IOSTANDARD = LVTTL; 
NET "RAMDQ<5>" LOC = "AC19" | IOSTANDARD = LVTTL; 
NET "RAMDQ<6>" LOC = "AC20" | IOSTANDARD = LVTTL; 
NET "RAMDQ<7>" LOC = "AD20" | IOSTANDARD = LVTTL; 
NET "RAMDQ<8>" LOC = "AC21" | IOSTANDARD = LVTTL; 
NET "RAMDQ<9>" LOC = "AD21" | IOSTANDARD = LVTTL; 
NET "RAMDQ<10>" LOC = "AC22" | IOSTANDARD = LVTTL; 
NET "RAMDQ<11>" LOC = "AD22" | IOSTANDARD = LVTTL; 
NET "RAMDQ<12>" LOC = "AC23" | IOSTANDARD = LVTTL; 
NET "RAMDQ<13>" LOC = "AD23" | IOSTANDARD = LVTTL; 
NET "RAMDQ<14>" LOC = "AC24" | IOSTANDARD = LVTTL; 
NET "RAMDQ<15>" LOC = "AC25" | IOSTANDARD = LVTTL; 

NET "RAMADDR<0>" LOC = "AE21" | IOSTANDARD = LVTTL; 
NET "RAMADDR<1>" LOC = "AF22" | IOSTANDARD = LVTTL; 
NET "RAMADDR<2>" LOC = "AF23" | IOSTANDARD = LVTTL; 
NET "RAMADDR<3>" LOC = "AE23" | IOSTANDARD = LVTTL; 
NET "RAMADDR<4>" LOC = "AF24" | IOSTANDARD = LVTTL; 
NET "RAMADDR<5>" LOC = "AE24" | IOSTANDARD = LVTTL; 
NET "RAMADDR<6>" LOC = "Y26" | IOSTANDARD = LVTTL; 
NET "RAMADDR<7>" LOC = "AA26" | IOSTANDARD = LVTTL; 
NET "RAMADDR<8>" LOC = "AD26" | IOSTANDARD = LVTTL; 
NET "RAMADDR<9>" LOC = "AD25" | IOSTANDARD = LVTTL; 
NET "RAMADDR<10>" LOC = "AF21" | IOSTANDARD = LVTTL; 
NET "RAMADDR<11>" LOC = "AE20" | IOSTANDARD = LVTTL; 
NET "RAMADDR<12>" LOC = "AF20" | IOSTANDARD = LVTTL; 
NET "RAMADDR<13>" LOC = "AF19" | IOSTANDARD = LVTTL; 
NET "RAMADDR<14>" LOC = "AE18" | IOSTANDARD = LVTTL; 
NET "RAMADDR<15>" LOC = "AF18" | IOSTANDARD = LVTTL; 
NET "RAMADDR<16>" LOC = "AB20" | IOSTANDARD = LVTTL; 


