NET "CLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 61 MHz HIGH 50 %;

NET "LEDPOWER" LOC="AD17" | IOSTANDARD = LVTTL; 
NET "LEDVALID" LOC="AE10" | IOSTANDARD = LVTTL; 

NET "TXIO_P<0>" LOC = "u3" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<0>" LOC = "u2" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<0>" LOC = "t4" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<0>" LOC = "t3" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<1>" LOC = "r2" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<1>" LOC = "r1" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<1>" LOC = "p3" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<1>" LOC = "p2" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<2>" LOC = "m2" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<2>" LOC = "m1" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<2>" LOC = "l4" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<2>" LOC = "l3" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<3>" LOC = "k3" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<3>" LOC = "k2" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<3>" LOC = "j2" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<3>" LOC = "j1" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<4>" LOC = "h4" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<4>" LOC = "h3" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<4>" LOC = "g2" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<4>" LOC = "g1" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<5>" LOC = "e1" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<5>" LOC = "f1" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<5>" LOC = "d2" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<5>" LOC = "d1" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<6>" LOC = "a3" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<6>" LOC = "b3" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<6>" LOC = "c4" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<6>" LOC = "d4" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<7>" LOC = "a6" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<7>" LOC = "a5" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<7>" LOC = "a8" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<7>" LOC = "a7" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<8>" LOC = "a22" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<8>" LOC = "a21" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<8>" LOC = "a24" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<8>" LOC = "a23" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<9>" LOC = "d24" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<9>" LOC = "c24" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<9>" LOC = "c21" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<9>" LOC = "b21" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<10>" LOC = "c26" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<10>" LOC = "c25" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<10>" LOC = "d23" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<10>" LOC = "c23" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<11>" LOC = "h26" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<11>" LOC = "h25" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<11>" LOC = "d26" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<11>" LOC = "d25" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<12>" LOC = "j26" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<12>" LOC = "j25" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<12>" LOC = "j23" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<12>" LOC = "j22" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<13>" LOC = "l26" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<13>" LOC = "m26" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<13>" LOC = "k26" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<13>" LOC = "k25" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<14>" LOC = "p25" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<14>" LOC = "p24" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<14>" LOC = "n25" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<14>" LOC = "n24" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<15>" LOC = "u25" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<15>" LOC = "u24" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<15>" LOC = "r26" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<15>" LOC = "r25" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<16>" LOC = "b18" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<16>" LOC = "a18" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<16>" LOC = "a16" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<16>" LOC = "a15" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<17>" LOC = "a9" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<17>" LOC = "b9" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<17>" LOC = "a10" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<17>" LOC = "b10" | IOSTANDARD = LVDS_25; 
NET "TXIO_P<18>" LOC = "c17" | IOSTANDARD = LVDS_25; 
NET "TXIO_N<18>" LOC = "d17" | IOSTANDARD = LVDS_25; 
NET "RXIO_P<18>" LOC = "c13" | IOSTANDARD = LVDS_25; 
NET "RXIO_N<18>" LOC = "c12" | IOSTANDARD = LVDS_25; 
NET "CLKIN" LOC = "Y5" | IOSTANDARD = LVTTL; 

# clock-domain debugging:

#NET "clk" TNM_NET = "clkA_grp";
#NET "clkrx" TNM_NET = "clkB_grp"; 
NET "RESET" LOC = "C11" | IOSTANDARD = LVTTL | PULLDOWN; 
#NET "WORDCLKOUT" LOC = "AF9" | IOSTANDARD = LVTTL; 
#NET "DEBUG<0>" LOC = "AF8" | IOSTANDARD = LVTTL; 
#NET "DEBUG<1>" LOC = "AF7" | IOSTANDARD = LVTTL; 
#NET "DEBUG<2>" LOC = "AF6" | IOSTANDARD = LVTTL; 
#NET "DEBUG<3>" LOC = "AE6" | IOSTANDARD = LVTTL; 
#NET "DEBUG<4>" LOC = "AF4" | IOSTANDARD = LVTTL; 
#NET "DEBUG<5>" LOC = "AE4" | IOSTANDARD = LVTTL; 
#NET "DEBUG<6>" LOC = "AE3" | IOSTANDARD = LVTTL; 
#NET "DEBUG<7>" LOC = "AD2" | IOSTANDARD = LVTTL; 
#NET "DEBUG<8>" LOC = "AC2" | IOSTANDARD = LVTTL; 
#NET "DEBUG<9>" LOC = "AB2" | IOSTANDARD = LVTTL; 
#NET "DEBUG<10>" LOC = "Y2" | IOSTANDARD = LVTTL; 
#NET "DEBUG<11>" LOC = "W2" | IOSTANDARD = LVTTL; 
#NET "DEBUG<12>" LOC = "AA3" | IOSTANDARD = LVTTL; 
#NET "DEBUG<13>" LOC = "AF10" | IOSTANDARD = LVTTL; 
#NET "DEBUG<14>" LOC = "AD8" | IOSTANDARD = LVTTL; 
#NET "DEBUG<15>" LOC = "AC8" | IOSTANDARD = LVTTL; 
#NET "DEBUG<16>" LOC = "AC7" | IOSTANDARD = LVTTL; 
#NET "DEBUG<17>" LOC = "AB7" | IOSTANDARD = LVTTL; 
#NET "DEBUG<18>" LOC = "AD4" | IOSTANDARD = LVTTL; 
#NET "DEBUG<19>" LOC = "AC3" | IOSTANDARD = LVTTL; 
#NET "DEBUG<20>" LOC = "AB4" | IOSTANDARD = LVTTL; 
#NET "DEBUG<21>" LOC = "W3" | IOSTANDARD = LVTTL; 
