#NET "CLKIN" TNM_NET = "CLKIN_GRP";
#TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 35 MHz HIGH 50 %;

NET "RXCLK" TNM_NET = "RXCLK_GRP";
TIMESPEC "TS_RXCLK" = PERIOD "RXCLK_GRP" 51 MHz HIGH 50 %;

NET "CLKIN_P" LOC = "p89" | IOSTANDARD = LVDS_25; 
NET "CLKIN_N" LOC = "p90" | IOSTANDARD = LVDS_25; 


NET "DOUT_P"  LOC = "p8" | IOSTANDARD = LVDS_25;
NET "DOUT_N"  LOC = "p9" | IOSTANDARD = LVDS_25 ;


NET "LEDPOWER"  LOC = "p86" | IOSTANDARD = LVTTL ;
NET "LEDLOCKED" LOC = "p81" | IOSTANDARD = LVTTL; 
NET "LEDVALID"  LOC = "p80" | IOSTANDARD = LVTTL ;

NET "REFCLKOUT" LOC = "p14" | IOSTANDARD = LVTTL; 
NET "RXCLK" LOC = "p38" | IOSTANDARD = LVTTL; 

NET "RESET" LOC = "p75" | PULLDOWN | IOSTANDARD = LVTTL; 


NET "DIN<0>" LOC = "p22" | IOSTANDARD = LVTTL; 
NET "DIN<1>" LOC = "p23" | IOSTANDARD = LVTTL; 
NET "DIN<2>" LOC = "p27" | IOSTANDARD = LVTTL; 
NET "DIN<3>" LOC = "p28" | IOSTANDARD = LVTTL; 
NET "DIN<4>" LOC = "p30" | IOSTANDARD = LVTTL; 
NET "DIN<5>" LOC = "p32" | IOSTANDARD = LVTTL; 
NET "DIN<6>" LOC = "p34" | IOSTANDARD = LVTTL; 
NET "DIN<7>" LOC = "p35" | IOSTANDARD = LVTTL; 
NET "DIN<8>" LOC = "p36" | IOSTANDARD = LVTTL; 
NET "DIN<9>" LOC = "p37" | IOSTANDARD = LVTTL; 

NET "LOCKED" LOC="p40" | IOSTANDARD = LVTTL; 
