NET "CLKIN" LOC = "AC10" | IOSTANDARD = LVTTL; 

NET "NICSIN" LOC = "AF9" | IOSTANDARD = LVTTL; 
NET "NICSCS" LOC = "AB4" | IOSTANDARD = LVTTL; 
NET "NICSOUT" LOC = "AB5" | IOSTANDARD = LVTTL; 
NET "NICSCLK" LOC = "AF8" | IOSTANDARD = LVTTL; 
NET "NICFPROG" LOC="AF12" | IOSTANDARD = LVTTL | PULLUP; 

NET "NICIOCLK" LOC = "Y1" |IOSTANDARD = LVTTL  | DRIVE = 12; 

NET "NICDIN<0>" LOC = "AC7" |IOSTANDARD = LVTTL; 
NET "NICDIN<1>" LOC = "AD4" |IOSTANDARD = LVTTL; 
NET "NICDIN<2>" LOC = "AD7" |IOSTANDARD = LVTTL; 
NET "NICDIN<3>" LOC = "AD3" |IOSTANDARD = LVTTL; 
NET "NICDIN<4>" LOC = "AC4" |IOSTANDARD = LVTTL; 
NET "NICDIN<5>" LOC = "AC8" |IOSTANDARD = LVTTL; 
NET "NICDIN<6>" LOC = "AC3" |IOSTANDARD = LVTTL; 
NET "NICDIN<7>" LOC = "AD5" |IOSTANDARD = LVTTL; 
NET "NICDIN<8>" LOC = "AA4" |IOSTANDARD = LVTTL; 
NET "NICDIN<9>" LOC = "Y4" |IOSTANDARD = LVTTL; 
NET "NICDIN<10>" LOC = "AA3" |IOSTANDARD = LVTTL; 
NET "NICDIN<11>" LOC = "Y3" |IOSTANDARD = LVTTL; 
NET "NICDIN<12>" LOC = "W3" |IOSTANDARD = LVTTL; 
NET "NICDIN<13>" LOC = "W4" |IOSTANDARD = LVTTL; 
NET "NICDIN<14>" LOC = "AB6" |IOSTANDARD = LVTTL; 
NET "NICDIN<15>" LOC = "AB7" |IOSTANDARD = LVTTL; 

NET "NICNEWFRAME" LOC = "Y2" | IOSTANDARD = LVTTL  |IOSTANDARD = LVTTL;
NET "NICNEXTFRAME" LOC = "AC5" | IOSTANDARD = LVTTL  |IOSTANDARD = LVTTL;
NET "NICDINEN" LOC = "AD6" | IOSTANDARD = LVTTL  |IOSTANDARD = LVTTL; 
NET "NICDOUTEN" LOC = "AA1" | IOSTANDARD = LVTTL  |IOSTANDARD = LVTTL; 

NET "NICDOUT<0>" LOC = "AF3" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<1>" LOC = "AF5" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<2>" LOC = "AE3" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<3>" LOC = "AE6" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<4>" LOC = "AF6" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<5>" LOC = "AD2" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<6>" LOC = "AF4" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<7>" LOC = "AD1" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<8>" LOC = "AC2" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<9>" LOC = "AE4" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<10>" LOC = "AC1" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<11>" LOC = "AE7" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<12>" LOC = "AF7" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<13>" LOC = "AB2" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<14>" LOC = "AC6" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW;  
NET "NICDOUT<15>" LOC = "AB1" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 



