NET "CLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 61 MHz HIGH 50 %;

NET "LEDPOWER" LOC="AD17" | IOSTANDARD = LVTTL; 
NET "LEDEVENT" LOC="AE10" | IOSTANDARD = LVTTL; 

NET "CLKIN" LOC = "Y5" | IOSTANDARD = LVTTL; 
NET "NICFCLK" LOC = "AE14" | IOSTANDARD = LVTTL; 
NET "NICFDIN" LOC = "AE13" | IOSTANDARD = LVTTL; 
NET "NICFPROG" LOC = "AF11" | IOSTANDARD = LVTTL ; 

NET "SDOUT" LOC = "E14" | IOSTANDARD = LVTTL ; 
NET "SDIN" LOC = "D11" | IOSTANDARD = LVTTL ; 
NET "SCLK" LOC = "D14" | IOSTANDARD = LVTTL ; 
NET "SCS" LOC = "F15" | IOSTANDARD = LVTTL ; 


#NET "DEBUG<0>" LOC = "F13" | IOSTANDARD = LVTTL; 
#NET "DEBUG<1>" LOC = "F12" | IOSTANDARD = LVTTL; 
#NET "DEBUG<2>" LOC = "C11" | IOSTANDARD = LVTTL; 
#NET "DEBUG<3>" LOC = "AA14" | IOSTANDARD = LVTTL; 

NET "NICSIN" LOC = "AB1" | IOSTANDARD = LVTTL; 
NET "NICSCS" LOC = "Y1" | IOSTANDARD = LVTTL; 
NET "NICSOUT" LOC = "Y2" | IOSTANDARD = LVTTL; 
NET "NICSCLK" LOC = "AB2" | IOSTANDARD = LVTTL; 

#NET "NETDIN<0>" LOC = "AC8" |IOSTANDARD = LVTTL; 
#NET "NETDIN<1>" LOC = "AD7" |IOSTANDARD = LVTTL; 
#NET "NETDIN<2>" LOC = "AC7" |IOSTANDARD = LVTTL; 
#NET "NETDIN<3>" LOC = "AD6" |IOSTANDARD = LVTTL; 
#NET "NETDIN<4>" LOC = "AC6" |IOSTANDARD = LVTTL; 
#NET "NETDIN<5>" LOC = "AB7" |IOSTANDARD = LVTTL; 
#NET "NETDIN<6>" LOC = "AD5" |IOSTANDARD = LVTTL; 
#NET "NETDIN<7>" LOC = "AC5" |IOSTANDARD = LVTTL; 
#NET "NETDIN<8>" LOC = "AD4" |IOSTANDARD = LVTTL; 
#NET "NETDIN<9>" LOC = "AC4" |IOSTANDARD = LVTTL; 
#NET "NETDIN<10>" LOC = "AD3" |IOSTANDARD = LVTTL; 
#NET "NETDIN<11>" LOC = "AC3" |IOSTANDARD = LVTTL; 
#NET "NETDIN<12>" LOC = "AB6" |IOSTANDARD = LVTTL; 
#NET "NETDIN<13>" LOC = "AB5" |IOSTANDARD = LVTTL; 
#NET "NETDIN<14>" LOC = "AB4" |IOSTANDARD = LVTTL; 
#NET "NETDIN<15>" LOC = "AB3" |IOSTANDARD = LVTTL; 

NET "NETDOUT<0>" LOC = "AF9" |IOSTANDARD = LVTTL; 
NET "NETDOUT<1>" LOC = "AE9" |IOSTANDARD = LVTTL; 
NET "NETDOUT<2>" LOC = "AF8" |IOSTANDARD = LVTTL; 
NET "NETDOUT<3>" LOC = "AF7" |IOSTANDARD = LVTTL; 
NET "NETDOUT<4>" LOC = "AE7" |IOSTANDARD = LVTTL; 
NET "NETDOUT<5>" LOC = "AF6" |IOSTANDARD = LVTTL; 
NET "NETDOUT<6>" LOC = "AE6" |IOSTANDARD = LVTTL; 
NET "NETDOUT<7>" LOC = "AF5" |IOSTANDARD = LVTTL; 
NET "NETDOUT<8>" LOC = "AF4" |IOSTANDARD = LVTTL; 
NET "NETDOUT<9>" LOC = "AE4" |IOSTANDARD = LVTTL; 
NET "NETDOUT<10>" LOC = "AF3" |IOSTANDARD = LVTTL; 
NET "NETDOUT<11>" LOC = "AE3" |IOSTANDARD = LVTTL; 
NET "NETDOUT<12>" LOC = "AD2" |IOSTANDARD = LVTTL; 
NET "NETDOUT<13>" LOC = "AD1" |IOSTANDARD = LVTTL; 
NET "NETDOUT<14>" LOC = "AC2" |IOSTANDARD = LVTTL; 
NET "NETDOUT<15>" LOC = "AC1" |IOSTANDARD = LVTTL; 


NET "NETCLK" LOC = "AD8" |IOSTANDARD = LVTTL; 
NET "NETNEWFRAME" LOC = "Y4" |IOSTANDARD = LVTTL; 

