NET "CLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 61 MHz HIGH 50 %;

NET "LEDPOWER" LOC="AD17" | IOSTANDARD = LVTTL; 
NET "LEDEVENT" LOC="AE10" | IOSTANDARD = LVTTL; 

NET "CLKIN" LOC = "Y5" | IOSTANDARD = LVTTL; 
NET "NICFCLK" LOC = "AE14" | IOSTANDARD = LVTTL; 
NET "NICFDIN" LOC = "AE13" | IOSTANDARD = LVTTL; 
NET "NICFPROG" LOC = "AF11" | IOSTANDARD = LVTTL ; 

NET "SDOUT" LOC = "E14" | IOSTANDARD = LVTTL ; 
NET "SDIN" LOC = "D11" | IOSTANDARD = LVTTL ; 
NET "SCLK" LOC = "D14" | IOSTANDARD = LVTTL ; 
NET "SCS" LOC = "F15" | IOSTANDARD = LVTTL ; 


NET "DEBUG<0>" LOC = "F13" | IOSTANDARD = LVTTL; 
NET "DEBUG<1>" LOC = "F12" | IOSTANDARD = LVTTL; 
NET "DEBUG<2>" LOC = "C11" | IOSTANDARD = LVTTL; 
NET "DEBUG<3>" LOC = "AA14" | IOSTANDARD = LVTTL; 
