NET "CLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 51 MHz HIGH 50 %;

NET "LEDPOWER" LOC="AD17" | IOSTANDARD = LVTTL; 
NET "LEDEVENT" LOC="AE10" | IOSTANDARD = LVTTL; 

NET "CLKIN" LOC = "AC10" | IOSTANDARD = LVTTL; 
NET "NICFCLK" LOC = "AE13" | IOSTANDARD = LVTTL; 
NET "NICFDIN" LOC = "AE14" | IOSTANDARD = LVTTL; 
NET "NICFPROG" LOC = "AF12" | IOSTANDARD = LVTTL ; 

NET "SPICS" LOC = "D11" | IOSTANDARD = LVTTL ; 
NET "SPIMOSI" LOC = "E14" | IOSTANDARD = LVTTL ; 
NET "SPIMISO" LOC = "F15" | IOSTANDARD = LVTTL ; 
NET "SPICLK" LOC = "D14" | IOSTANDARD = LVTTL ; 




NET "NICSIN" LOC = "AB5" | IOSTANDARD = LVTTL; 
NET "NICSCS" LOC = "AB4" | IOSTANDARD = LVTTL; 
NET "NICSOUT" LOC = "AF9" | IOSTANDARD = LVTTL; 
NET "NICSCLK" LOC = "AF8" | IOSTANDARD = LVTTL; 


NET "NICIOCLK" LOC = "Y1" |IOSTANDARD = LVTTL  | DRIVE = 12; 

NET "NICDIN<0>" LOC = "AC7" |IOSTANDARD = LVTTL; 
NET "NICDIN<1>" LOC = "AD4" |IOSTANDARD = LVTTL; 
NET "NICDIN<2>" LOC = "AE9" |IOSTANDARD = LVTTL; 
NET "NICDIN<3>" LOC = "AD3" |IOSTANDARD = LVTTL; 
NET "NICDIN<4>" LOC = "AC4" |IOSTANDARD = LVTTL; 
NET "NICDIN<5>" LOC = "AC8" |IOSTANDARD = LVTTL; 
NET "NICDIN<6>" LOC = "AC3" |IOSTANDARD = LVTTL; 
NET "NICDIN<7>" LOC = "AD5" |IOSTANDARD = LVTTL; 
NET "NICDIN<8>" LOC = "AA4" |IOSTANDARD = LVTTL; 
NET "NICDIN<9>" LOC = "Y4" |IOSTANDARD = LVTTL; 
NET "NICDIN<10>" LOC = "AA3" |IOSTANDARD = LVTTL; 
NET "NICDIN<11>" LOC = "Y3" |IOSTANDARD = LVTTL; 
NET "NICDIN<12>" LOC = "W3" |IOSTANDARD = LVTTL; 
NET "NICDIN<13>" LOC = "W4" |IOSTANDARD = LVTTL; 
NET "NICDIN<14>" LOC = "AB6" |IOSTANDARD = LVTTL; 
NET "NICDIN<15>" LOC = "AB7" |IOSTANDARD = LVTTL; 

NET "NICNEWFRAME" LOC = "Y2" | IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW= SLOW;
NET "NICNEXTFRAME" LOC = "AC5" | IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW=SLOW;
NET "NICDINEN" LOC = "AD6" | IOSTANDARD = LVTTL | DRIVE = 12 | SLEW = SLOW ; 



NET "NICDOUT<0>" LOC = "AF3" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<1>" LOC = "AF5" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<2>" LOC = "AE3" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<3>" LOC = "AE6" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<4>" LOC = "AF6" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<5>" LOC = "AD2" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<6>" LOC = "AF4" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<7>" LOC = "AD1" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<8>" LOC = "AC2" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<9>" LOC = "AE4" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<10>" LOC = "AC1" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<11>" LOC = "AF7" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<12>" LOC = "AD8" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<13>" LOC = "AB2" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<14>" LOC = "AC6" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW;  
NET "NICDOUT<15>" LOC = "AB1" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 

NET "RAMCLKOUT_P" LOC="AF24" | IOSTANDARD= DIFF_SSTL18_II_DCI; 
NET "RAMCLKOUT_N" LOC="AE24" | IOSTANDARD=   DIFF_SSTL18_II_DCI; 
NET "RAMCKE" LOC="AA26" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMCAS" LOC="AE23" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMRAS" LOC="AF23" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMCS" LOC="AF22" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMWE" LOC="Y26" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<0>" LOC="AE18" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<1>" LOC="AA24" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<2>" LOC="AF18" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<3>" LOC="AB25" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<4>" LOC="AF19" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<5>" LOC="AC26" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<6>" LOC="AF20" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<7>" LOC="AC25" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<8>" LOC="AE21" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<9>" LOC="AD25" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<10>" LOC="AB26" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<11>" LOC="AF21" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<12>" LOC="AD26" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMBA<0>" LOC="AD23" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMBA<1>" LOC="AC22" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMDQSH" LOC="AB21" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQSL" LOC="Y22" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<0>" LOC="AC21" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<1>" LOC="AC24" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<2>" LOC="AD21" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<3>" LOC="AD22" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<4>" LOC="AC23" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<5>" LOC="AD19" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<6>" LOC="AB23" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<7>" LOC="AC18" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<8>" LOC="AB22" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<9>" LOC="Y24" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<10>" LOC="W19" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<11>" LOC="AB24" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<12>" LOC="AA23" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<13>" LOC="AC19" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<14>" LOC="Y25" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<15>" LOC="AB20" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 


NET "FIBERDEBUGOUT" LOC="F11" | IOSTANDARD=LVTTL; 
NET "FIBERDEBUGIN" LOC="F14" | IOSTANDARD=LVTTL | PULLDOWN; 
