NET "CLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 31 MHz HIGH 50 %;

NET "LEDPOWER" LOC="AD17" | IOSTANDARD = LVTTL; 
NET "TX_P" LOC = "u3" | IOSTANDARD = LVDS_25; 
NET "TX_N" LOC = "u2" | IOSTANDARD = LVDS_25; 
NET "RX_P" LOC = "c4" | IOSTANDARD = LVDS_25; 
NET "RX_N" LOC = "d4" | IOSTANDARD = LVDS_25; 

NET "CLKIN" LOC = "Y5" | IOSTANDARD = LVTTL; 
NET "CLKOUT" LOC = "AE9" | IOSTANDARD = LVTTL; 

NET "RESET" LOC = "AF9" | IOSTANDARD = LVTTL | PULLDOWN; 
