NET "CLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 61 MHz HIGH 50 %;

NET "LEDPOWER" LOC="AD17" | IOSTANDARD = LVTTL; 
NET "LEDVALID" LOC="AE10" | IOSTANDARD = LVTTL; 
NET "TXIO_P" LOC = "u3" | IOSTANDARD = LVDS_25; 
NET "TXIO_N" LOC = "u2" | IOSTANDARD = LVDS_25; 

NET "RXIO_P" LOC = "t4" | DIFF_TERM |  IOSTANDARD = LVDS_25; 
NET "RXIO_N" LOC = "t3" | DIFF_TERM | IOSTANDARD = LVDS_25; 


INST "RXIO_ibufds" DIFF_TERM = "TRUE"; 

NET "CLKIN" LOC = "Y5" | IOSTANDARD = LVTTL; 
#NET "CLKBITTXOUT" LOC = "AE9" | IOSTANDARD = LVTTL; 
#NET "CLKRXOUT" LOC = "AF5" | IOSTANDARD = LVTTL; 

NET "RESET" LOC = "AF9" | IOSTANDARD = LVTTL | PULLDOWN; 
#NET "TXDCMLOCKED" LOC = "AF8" | IOSTANDARD = LVTTL | PULLDOWN; 
#NET "RXDCMLOCKED" LOC = "AF7" | IOSTANDARD = LVTTL | PULLDOWN; 

#NET "RXDATAOUT<0>" LOC = "AC8" | IOSTANDARD = LVTTL; 
#NET "RXDATAOUT<1>" LOC = "AD7" | IOSTANDARD = LVTTL; 
#NET "RXDATAOUT<2>" LOC = "AC7" | IOSTANDARD = LVTTL; 
#NET "RXDATAOUT<3>" LOC = "AD6" | IOSTANDARD = LVTTL; 
#NET "RXDATAOUT<4>" LOC = "AC6" | IOSTANDARD = LVTTL; 
#NET "RXDATAOUT<5>" LOC = "AB7" | IOSTANDARD = LVTTL; 
#NET "RXDATAOUT<6>" LOC = "AD5" | IOSTANDARD = LVTTL; 
#NET "RXDATAOUT<7>" LOC = "AC5" | IOSTANDARD = LVTTL; 
#NET "RXDATAOUT<8>" LOC = "AD4" | IOSTANDARD = LVTTL; 
#NET "RXDATAOUT<9>" LOC = "AC4" | IOSTANDARD = LVTTL; 
#NET "SHIFT" LOC = "F13" | PULLDOWN | IOSTANDARD = LVTTL; 
#NET "DELAYOUT" LOC = "F12" | IOSTANDARD = LVTTL; 

NET "VALIDOUT" LOC = "AF8" | IOSTANDARD = LVTTL ; 
#NET "BITSLIPOUT" LOC = "AA4" | IOSTANDARD = LVTTL | PULLDOWN; 

#NET "DCMLOCKED1" LOC = "AF12" | IOSTANDARD = LVTTL ; 
#NET "DCMLOCKED2" LOC = "AF11" | IOSTANDARD = LVTTL ; 
