NET "CLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 50.00 MHz HIGH 50 %;
#OFFSET = OUT 16 ns AFTER CLKIN; 
#OFFSET = IN 2 ns BEFORE CLKIN; 

NET "LEDPOWER" LOC="AD17" | IOSTANDARD = LVTTL; 
NET "LEDEVENT" LOC="AE10" | IOSTANDARD = LVTTL; 

NET "CLKIN" LOC = "AC10" | IOSTANDARD = LVTTL; 
NET "NICFCLK" LOC = "AE13" | IOSTANDARD = LVTTL; 
NET "NICFDIN" LOC = "AE14" | IOSTANDARD = LVTTL; 
NET "NICFPROG" LOC = "AF12" | IOSTANDARD = LVTTL ; 

NET "SPICS" LOC = "D11" | IOSTANDARD = LVTTL ; 
NET "SPIMOSI" LOC = "E14" | IOSTANDARD = LVTTL ; 
NET "SPIMISO" LOC = "F15" | IOSTANDARD = LVTTL ; 
NET "SPICLK" LOC = "D14" | IOSTANDARD = LVTTL ; 


NET "DSPCFG<0>" LOC = "AD13" | IOSTANDARD=LVTTL; 
NET "DSPCFG<1>" LOC = "AC11" | IOSTANDARD=LVTTL; 
NET "DSPCFG<2>" LOC = "AC12" | IOSTANDARD=LVTTL; 
NET "DSPCFG<3>" LOC = "AC13" | IOSTANDARD=LVTTL; 
NET "DSPCFG<4>" LOC = "AB13" | IOSTANDARD=LVTTL; 
NET "DSPCFG<5>" LOC = "AA11" | IOSTANDARD=LVTTL; 
NET "DSPCFG<6>" LOC = "AA12" | IOSTANDARD=LVTTL; 
NET "DSPCFG<7>" LOC = "AA13" | IOSTANDARD=LVTTL; 
NET "DSPCFG<8>" LOC = "AA14" | IOSTANDARD=LVTTL; 
NET "DSPCFG<9>" LOC = "AA15" | IOSTANDARD=LVTTL; 
NET "DSPCFG<10>" LOC = "AA16" | IOSTANDARD=LVTTL; 
NET "DSPCFG<11>" LOC = "AB14" | IOSTANDARD=LVTTL; 
NET "DSPCFG<12>" LOC = "AC14" | IOSTANDARD=LVTTL; 
NET "DSPCFG<13>" LOC = "AC15" | IOSTANDARD=LVTTL; 
NET "DSPCFG<14>" LOC = "AC16" | IOSTANDARD=LVTTL; 
NET "DSPCFG<15>" LOC = "AD14" | IOSTANDARD=LVTTL; 

NET "ADIOCFG" LOC="F13" | IOSTANDARD=LVTTL; 
NET "SYSCFG" LOC="C11" | IOSTANDARD=LVTTL; 
NET "NEPCFG" LOC="F12" | IOSTANDARD=LVTTL; 


NET "NICSIN" LOC = "AB5" | IOSTANDARD = LVTTL; 
NET "NICSCS" LOC = "AB4" | IOSTANDARD = LVTTL; 
NET "NICSOUT" LOC = "AF9" | IOSTANDARD = LVTTL; 
NET "NICSCLK" LOC = "AF8" | IOSTANDARD = LVTTL; 

NET "NICIOCLK" LOC = "Y1" |IOSTANDARD = LVTTL  | DRIVE = 12; 

NET "NICDIN<0>" LOC = "AC7" |IOSTANDARD = LVTTL; 
NET "NICDIN<1>" LOC = "AD4" |IOSTANDARD = LVTTL; 
NET "NICDIN<2>" LOC = "AE9" |IOSTANDARD = LVTTL; 
NET "NICDIN<3>" LOC = "AD3" |IOSTANDARD = LVTTL; 
NET "NICDIN<4>" LOC = "AC4" |IOSTANDARD = LVTTL; 
NET "NICDIN<5>" LOC = "AC8" |IOSTANDARD = LVTTL; 
NET "NICDIN<6>" LOC = "AC3" |IOSTANDARD = LVTTL; 
NET "NICDIN<7>" LOC = "AD5" |IOSTANDARD = LVTTL; 
NET "NICDIN<8>" LOC = "AA4" |IOSTANDARD = LVTTL; 
NET "NICDIN<9>" LOC = "Y4" |IOSTANDARD = LVTTL; 
NET "NICDIN<10>" LOC = "AA3" |IOSTANDARD = LVTTL; 
NET "NICDIN<11>" LOC = "Y3" |IOSTANDARD = LVTTL; 
NET "NICDIN<12>" LOC = "W3" |IOSTANDARD = LVTTL; 
NET "NICDIN<13>" LOC = "W4" |IOSTANDARD = LVTTL; 
NET "NICDIN<14>" LOC = "AB6" |IOSTANDARD = LVTTL; 
NET "NICDIN<15>" LOC = "AB7" |IOSTANDARD = LVTTL; 

NET "NICNEWFRAME" LOC = "Y2" | IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW= SLOW;
NET "NICNEXTFRAME" LOC = "AC5" | IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW=SLOW;
NET "NICDINEN" LOC = "AA1" | IOSTANDARD = LVTTL | DRIVE = 12 | SLEW = SLOW | PULLDOWN; 



NET "NICDOUT<0>" LOC = "AF3" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<1>" LOC = "AF5" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<2>" LOC = "AE3" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<3>" LOC = "AE6" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<4>" LOC = "AF6" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<5>" LOC = "AD2" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<6>" LOC = "AF4" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<7>" LOC = "AD1" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<8>" LOC = "AC2" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<9>" LOC = "AE4" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<10>" LOC = "AC1" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<11>" LOC = "AF7" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<12>" LOC = "AD8" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<13>" LOC = "AB2" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 
NET "NICDOUT<14>" LOC = "AC6" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW;  
NET "NICDOUT<15>" LOC = "AB1" |IOSTANDARD = LVTTL  | DRIVE = 12 | SLEW = SLOW; 

NET "RAMCLKOUT_P" LOC="AF24" | IOSTANDARD= DIFF_SSTL18_II_DCI; 
NET "RAMCLKOUT_N" LOC="AE24" | IOSTANDARD=   DIFF_SSTL18_II_DCI; 
NET "RAMCKE" LOC="AA26" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMCAS" LOC="AE23" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMRAS" LOC="AF23" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMCS" LOC="AF22" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMWE" LOC="Y26" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<0>" LOC="AE18" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<1>" LOC="AA24" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<2>" LOC="AF18" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<3>" LOC="AB25" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<4>" LOC="AF19" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<5>" LOC="AC26" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<6>" LOC="AF20" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<7>" LOC="AC25" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<8>" LOC="AE21" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<9>" LOC="AD25" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<10>" LOC="AB26" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<11>" LOC="AF21" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMADDR<12>" LOC="AD26" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMBA<0>" LOC="AD23" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMBA<1>" LOC="AC22" | IOSTANDARD=SSTL18_II_DCI; 
NET "RAMDQSH" LOC="AB21" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQSL" LOC="Y22" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<0>" LOC="AC21" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<1>" LOC="AC24" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<2>" LOC="AD21" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<3>" LOC="AD22" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<4>" LOC="AC23" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<5>" LOC="AD19" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<6>" LOC="AB23" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<7>" LOC="AC18" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<8>" LOC="AB22" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<9>" LOC="Y24" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<10>" LOC="W19" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<11>" LOC="AB24" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<12>" LOC="AA23" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<13>" LOC="AC19" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<14>" LOC="Y25" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 
NET "RAMDQ<15>" LOC="AB20" | IOSTANDARD=SSTL18_II_DCI | PULLDOWN; 


NET "FIBERDEBUGOUT" LOC="F11" | IOSTANDARD=LVTTL; 
NET "FIBERDEBUGIN" LOC="F14" | IOSTANDARD=LVTTL | PULLDOWN; 

NET "DSPTXIO_P<0>" LOC = "u3" | IOSTANDARD = LVDS_25; 
NET "DSPTXIO_N<0>" LOC = "u2" | IOSTANDARD = LVDS_25; 
NET "DSPRXIO_P<0>" LOC = "t4" | IOSTANDARD = LVDS_25; 
NET "DSPRXIO_N<0>" LOC = "t3" | IOSTANDARD = LVDS_25; 
NET "DSPTXIO_P<1>" LOC = "r2" | IOSTANDARD = LVDS_25; 
NET "DSPTXIO_N<1>" LOC = "r1" | IOSTANDARD = LVDS_25; 
NET "DSPRXIO_P<1>" LOC = "p3" | IOSTANDARD = LVDS_25; 
NET "DSPRXIO_N<1>" LOC = "p2" | IOSTANDARD = LVDS_25; 
NET "DSPTXIO_P<2>" LOC = "m2" | IOSTANDARD = LVDS_25; 
NET "DSPTXIO_N<2>" LOC = "m1" | IOSTANDARD = LVDS_25; 
NET "DSPRXIO_P<2>" LOC = "l4" | IOSTANDARD = LVDS_25; 
NET "DSPRXIO_N<2>" LOC = "l3" | IOSTANDARD = LVDS_25; 
NET "DSPTXIO_P<3>" LOC = "k3" | IOSTANDARD = LVDS_25; 
NET "DSPTXIO_N<3>" LOC = "k2" | IOSTANDARD = LVDS_25; 
NET "DSPRXIO_P<3>" LOC = "j2" | IOSTANDARD = LVDS_25; 
NET "DSPRXIO_N<3>" LOC = "j1" | IOSTANDARD = LVDS_25; 
NET "DSPTXIO_P<4>" LOC = "h4" | IOSTANDARD = LVDS_25; 
NET "DSPTXIO_N<4>" LOC = "h3" | IOSTANDARD = LVDS_25; 
NET "DSPRXIO_P<4>" LOC = "g2" | IOSTANDARD = LVDS_25; 
NET "DSPRXIO_N<4>" LOC = "g1" | IOSTANDARD = LVDS_25; 
NET "DSPTXIO_P<5>" LOC = "e1" | IOSTANDARD = LVDS_25; 
NET "DSPTXIO_N<5>" LOC = "f1" | IOSTANDARD = LVDS_25; 
NET "DSPRXIO_P<5>" LOC = "d2" | IOSTANDARD = LVDS_25; 
NET "DSPRXIO_N<5>" LOC = "d1" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_P<6>" LOC = "a3" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_N<6>" LOC = "b3" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_P<6>" LOC = "c4" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_N<6>" LOC = "d4" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_P<7>" LOC = "a6" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_N<7>" LOC = "a5" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_P<7>" LOC = "a8" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_N<7>" LOC = "a7" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_P<8>" LOC = "a22" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_N<8>" LOC = "a21" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_P<8>" LOC = "a24" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_N<8>" LOC = "a23" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_P<9>" LOC = "d24" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_N<9>" LOC = "c24" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_P<9>" LOC = "c21" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_N<9>" LOC = "b21" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_P<10>" LOC = "c26" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_N<10>" LOC = "c25" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_P<10>" LOC = "d23" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_N<10>" LOC = "c23" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_P<11>" LOC = "h26" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_N<11>" LOC = "h25" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_P<11>" LOC = "d26" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_N<11>" LOC = "d25" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_P<12>" LOC = "j26" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_N<12>" LOC = "j25" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_P<12>" LOC = "j23" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_N<12>" LOC = "j22" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_P<13>" LOC = "l26" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_N<13>" LOC = "m26" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_P<13>" LOC = "k26" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_N<13>" LOC = "k25" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_P<14>" LOC = "p25" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_N<14>" LOC = "p24" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_P<14>" LOC = "n25" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_N<14>" LOC = "n24" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_P<15>" LOC = "u25" | IOSTANDARD = LVDS_25; 
#NET "DSPTXIO_N<15>" LOC = "u24" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_P<15>" LOC = "r26" | IOSTANDARD = LVDS_25; 
#NET "DSPRXIO_N<15>" LOC = "r25" | IOSTANDARD = LVDS_25; 
NET "ADIOTXIO_P" LOC = "b18" | IOSTANDARD = LVDS_25; 
NET "ADIOTXIO_N" LOC = "a18" | IOSTANDARD = LVDS_25; 
NET "ADIORXIO_P" LOC = "a16" | IOSTANDARD = LVDS_25; 
NET "ADIORXIO_N" LOC = "a15" | IOSTANDARD = LVDS_25; 
NET "SYSTXIO_P" LOC = "a9" | IOSTANDARD = LVDS_25; 
NET "SYSTXIO_N" LOC = "b9" | IOSTANDARD = LVDS_25; 
NET "SYSRXIO_P" LOC = "a10" | IOSTANDARD = LVDS_25; 
NET "SYSRXIO_N" LOC = "b10" | IOSTANDARD = LVDS_25; 
##NET "NEPTXIO_P" LOC = "c17" | IOSTANDARD = LVDS_25; 
##NET "NEPTXIO_N" LOC = "d17" | IOSTANDARD = LVDS_25; 
##NET "NEPRXIO_P" LOC = "c13" | IOSTANDARD = LVDS_25; 
##NET "NEPRXIO_N" LOC = "c12" | IOSTANDARD = LVDS_25; 
