
NET "CLK" LOC = "p1" | IOSTANDARD = LVTTL; 
NET "FCLK" LOC= "p38" | IOSTANDARD = LVTTL; 
NET "FDIN" LOC= "p37" | IOSTANDARD = LVTTL; 
NET "FPROG" LOC= "p36" | IOSTANDARD = LVTTL; 

NET "FSDOUT" LOC= "p23" | IOSTANDARD = LVTTL; 
NET "FSCS" LOC= "p22" | IOSTANDARD = LVTTL; 
NET "FSCLK" LOC= "p21" | IOSTANDARD = LVTTL; 

NET "SCS" LOC= "p5" | IOSTANDARD = LVTTL | SLOW ; 
NET "SDIN" LOC= "p16" | IOSTANDARD = LVTTL | SLOW; 
NET "SDOUT" LOC= "p6" | IOSTANDARD = LVTTL | SLOW; 
NET "SCLK" LOC= "p13" | IOSTANDARD = LVTTL | SLOW ; 
