NET "CLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 51 MHz HIGH 50 %;

NET "LEDPOWER" LOC="AD17" | IOSTANDARD = LVTTL; 
NET "LEDEVENT" LOC="AE10" | IOSTANDARD = LVTTL; 

NET "CLKIN" LOC = "AC10" | IOSTANDARD = LVTTL; 

NET "NICFPROG" LOC = "AF12" | IOSTANDARD = LVTTL ; 

NET "SDOUT" LOC = "E14" | IOSTANDARD = LVTTL ; 
NET "SDIN" LOC = "D11" | IOSTANDARD = LVTTL ; 
NET "SCLK" LOC = "D14" | IOSTANDARD = LVTTL ; 
NET "SCS" LOC = "F15" | IOSTANDARD = LVTTL ; 

NET "NICFPROG" LOC="AF12" | IOSTANDARD = LVTTL | PULLUP; 

NET "RAMCLKOUT_P" LOC="AF24" | IOSTANDARD= DIFF_SSTL18_II_DCI; 
NET "RAMCLKOUT_N" LOC="AE24" | IOSTANDARD=   DIFF_SSTL18_II_DCI; 
NET "RAMCKE" LOC="AA26" | IOSTANDARD=SSTL18_II_DCI; 
