NET "CLKIN_P" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 125.5 MHz HIGH 50 %;

net din maxskew = 10 pS;



NET "CLKIN_P" LOC = "p89" | IOSTANDARD = LVTTL;
NET "CLKIN_N" LOC = "p90" | IOSTANDARD = LVTTL;

NET "RESET" LOC = "p47" | PULLDOWN |  IOSTANDARD = LVTTL; 

NET "DOUT_P"  LOC = "p13" | IOSTANDARD = LVDS_25 ;
NET "DOUT_N"  LOC = "p14" | IOSTANDARD = LVDS_25;

NET "DIN_P"  LOC = "p15" | IOSTANDARD = LVDS_25_DCI;
NET "DIN_N"  LOC = "p16" | IOSTANDARD = LVDS_25_DCI;

#NET "DIN" LOC = "p42" | IOSTANDARD = LVTTL | PULLDOWN; 
#NET "DOUT" LOC = "p43" | IOSTANDARD = LVTTL | DRIVE = 2 | SLEW=FAST; 

NET "LEDGOOD"  LOC = "p79" | IOSTANDARD = LVTTL ;
NET "LEDVALID"  LOC = "p80" | IOSTANDARD = LVTTL ;
NET "LEDPOWER"  LOC = "p81" | IOSTANDARD = LVTTL ;
#NET "VALIDOUT" LOC = "p53" | IOSTANDARD = LVTTL; 

#NET rxclk TNM_NET = rxclk_grp; 
#NET rxclk TNM_NET = rxclk90_grp; 
#NET txclk TNM_NET = txclk_grp; 

NET "DVOUT" LOC = "p64" | DRIVE=6  | SLEW=SLOW | IOSTANDARD = LVTTL; 
NET "DRXOUT" LOC = "p65" | DRIVE=6 | SLEW=SLOW  | IOSTANDARD = LVTTL;


NET "SAMPLES(3)" LOC = "p68" | DRIVE=6  | SLEW=SLOW | IOSTANDARD = LVTTL; 
NET "SAMPLES(2)" LOC = "p71" | DRIVE=6  | SLEW=SLOW | IOSTANDARD = LVTTL; 
NET "SAMPLES(1)" LOC = "p72" | DRIVE=6 | SLEW=SLOW | IOSTANDARD = LVTTL; 
NET "SAMPLES(0)" LOC = "p74" | DRIVE=6 | SLEW=SLOW | IOSTANDARD = LVTTL;
 
NET "RXCLKOUT" LOC = "p75" | DRIVE=6 | SLEW=FAST | IOSTANDARD = LVTTL; 
