NET "CLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 70 MHz HIGH 50 %;

#NET "CLKIN" TNM_NET = "CLKIN";

net din maxskew = 20 pS;

NET "CLKIN" LOC = "p180" | IOSTANDARD = LVTTL;
NET "RESET" LOC = "p31" | IOSTANDARD = LVTTL; 
NET "DIN_P"  LOC = "p190" | IOSTANDARD = LVDS_25 ;
NET "DIN_N"  LOC = "p191" | IOSTANDARD = LVDS_25 ;

NET "DOUT_P"  LOC = "p194" | IOSTANDARD = LVDS_25;
NET "DOUT_N"  LOC = "p196" | IOSTANDARD = LVDS_25 ;

NET "LEDGOOD"  LOC = "p126" | IOSTANDARD = LVTTL ;
NET "LEDVALID"  LOC = "p128" | IOSTANDARD = LVTTL ;
NET "LEDPOWER"  LOC = "p130" | IOSTANDARD = LVTTL ;

