NET "CLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 127 MHz HIGH 50 %;

#net din maxskew = 20 pS;

NET "CLKIN" LOC = "p180" | IOSTANDARD = LVTTL;
NET "RESET" LOC = "p31" | IOSTANDARD = LVTTL; 
#NET "DIN_P"  LOC = "p190" | IOSTANDARD = LVDS_25_DCI ;
#NET "DIN_N"  LOC = "p191" | IOSTANDARD = LVDS_25_DCI ;

#NET "DOUT_P"  LOC = "p194" | IOSTANDARD = LVDS_25;
#NET "DOUT_N"  LOC = "p196" | IOSTANDARD = LVDS_25;

NET "LEDGOOD"  LOC = "p126" | IOSTANDARD = LVTTL ;
NET "LEDVALID"  LOC = "p128" | IOSTANDARD = LVTTL ;
NET "LEDPOWER"  LOC = "p130" | IOSTANDARD = LVTTL ;

NET rxclk TNM_NET = rxclk_grp; 
NET rxclk TNM_NET = rxclk90_grp; 
NET txclk TNM_NET = txclk_grp; 

TIMESPEC TS_TXCLK_TO_RXCLK = FROM txclk_grp to rxclk_grp 20 ns; 
TIMESPEC TS_TXCLK_TO_RXCLK90 = FROM txclk_grp to rxclk90_grp 20 ns; 
