NET "CLKIN_P" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 150 MHz HIGH 50 %;

#NET "linktest_ioclocksinst_rxclk" TNM_NET = "RXCLK_GRP"; 
#TIMESPEC "TS_RXCLK" = PERIOD "RXCLK_GRP" 150 MHz HIGH 50 %;

net din maxskew = 70 pS;



NET "CLKIN_P" LOC = "p89" | IOSTANDARD = LVTTL;
NET "CLKIN_N" LOC = "p90" | IOSTANDARD = LVTTL;

NET "RESET" LOC = "p47" | PULLDOWN |  IOSTANDARD = LVTTL; 

#NET "DOUT_P"  LOC = "p13" | IOSTANDARD = LVDS_25 ;
#NET "DOUT_N"  LOC = "p14" | IOSTANDARD = LVDS_25;

#NET "DIN_P"  LOC = "p15" | IOSTANDARD = LVDS_25_DCI;
#NET "DIN_N"  LOC = "p16" | IOSTANDARD = LVDS_25_DCI;

NET "DIN" LOC = "p8" | IOSTANDARD = LVCMOS_25 ; 
NET "DOUT" LOC = "p11" | IOSTANDARD = LVCMOS_25 | DRIVE=12 | SLEW = FAST; 

NET "LEDGOOD"  LOC = "p79" | IOSTANDARD = LVTTL ;
NET "LEDVALID"  LOC = "p80" | IOSTANDARD = LVTTL ;
NET "LEDPOWER"  LOC = "p81" | IOSTANDARD = LVTTL ;
NET "VALIDOUT" LOC = "p53" | IOSTANDARD = LVTTL; 

#NET rxclk TNM_NET = rxclk_grp; 
#NET rxclk TNM_NET = rxclk90_grp; 
#NET txclk TNM_NET = txclk_grp; 

NET "DEBUGFSOUT" LOC = "p72" | DRIVE=16  | SLEW=SLOW | IOSTANDARD = LVTTL; 
NET "DEBUGDOUT" LOC = "p74" | DRIVE=16 | SLEW=SLOW | IOSTANDARD = LVTTL; 
NET "DEBUGOCLK" LOC = "p75" | DRIVE=16 | SLEW=SLOW | IOSTANDARD = LVTTL;
 

