NET "CLKIN" TNM_NET = "CLKIN_GRP";
TIMESPEC "TS_CLKIN" = PERIOD "CLKIN_GRP" 61 MHz HIGH 50 %;

NET "LEDPOWER" LOC="AD17" | IOSTANDARD = LVTTL; 
NET "LEDVALID" LOC="AE10" | IOSTANDARD = LVTTL; 

NET "CLKIN" LOC = "AC10" | IOSTANDARD = LVTTL; 
